# .coveragerc to control coverage.py
[run]
branch = True
omit = 
    */zquantum/core/interfaces/ansatz_test.py
    */zquantum/core/interfaces/backend_test.py
    */zquantum/core/interfaces/optimizer_test.py
    */zquantum/core/testing/generate_cases_for_backend_tests.py
    */zquantum/core/testing/test_cases_for_backend_tests.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
